images/Bird
images/Rodent
localsettings
sounds/Avengeme.mp3
sounds/Bacon.mp3
sounds/Bill.mp3
sounds/BurntheWitch.mp3
sounds/Cabbages.mp3
sounds/Destruction.mp3
sounds/Failure.mp3
sounds/GetEm.mp3
sounds/Legal.mp3
sounds/Memorized.mp3
sounds/Rough.mp3
sounds/Unacceptable.mp3
